body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
}

h1 {
  padding: 20px 0px 10px 0px;
}

/* Centers images */

img {
  display:block;
  margin: 0px auto;
  text-align: center;
}

/* New Class */

.portfolio-item {
  margin-top: 60px;
  padding: 40px;
  background-color: #EBF4FA;

}
}
